<a href="https://colab.research.google.com/github/nishaiter/practice1-python-/blob/main/Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
li=[1,2,3,4,5,6,7,8,9,10]
length=len(li)
j=0
while length>=5:
    j=j+1
    length=length-1
    continue
    print(length)
    if length==6:
        break
print(j)

6

In [3]:
#WAP to check grade for user input marks

marks=int(input("Enter your total Marks: "))
if marks>=90:
    print('Grade O')
elif marks>=80 and marks<90:
    print('Grade E')
elif marks>=70 and marks<80:
    print('Grade A')
elif marks>=60 and marks<70:
    print('Grade B')
elif marks>=50 and marks<60:
    print('Grade c')
elif marks>=40 and marks<50:
    print('Grade D')
else:
    print('Fail')

Enter your total Marks: 60
Grade B

In [4]:
#WAP to print a multiplication table for a number given by user
l=int(input("Enter the number for your multiplication table :"))
for i in range(2,11):
    c=l*i
    print(l,"*",i,"=",c)

Enter the number for your multiplication table :2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [6]:
rows=int(input("Enter rows: "))
for i in range (0,rows+1):
    for j in range(i):
        print("*",end='')
    print()

Enter rows: 5

*
**
***
****
*****

In [7]:
rows=int(input("Enter the number of rows: "))
for i in range(0,rows+1):
    for j in range(i):
        print(i,end='')
    print()

Enter the number of rows: 5

1
22
333
4444
55555